* {
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

body {
  background-color: #0c0c15;
}

header {
  display: flex;
  height: 90px;
  justify-content: space-between;
  width: 100%;
}

h1 {
  font-size: 1.5em;
  font-weight: 800;
  margin-left: 10px;
  text-transform: lowercase;
}

nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

a {
  text-decoration: none;
}

footer {
  align-items: center;
  background-color: #181829;
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  margin-top: 200px;
  text-align: center;
}

nav a {
  font-weight: 500;
  margin: 0 20px;
  text-transform: lowercase;
}

section h2 {
  font-size: 3.75em;
  font-weight: 800;
  margin-bottom: 20px;
  padding: 32px;
  text-align: center;
}

.logo {
  align-items: center;
  display: flex;
  margin-left: 10%;
}

nav > a:hover,
.link.is-active {
  border-bottom: solid 2px;
  border-radius: 2px;
  color: #f7f181;
  transition: background-color 0.6s ease;
}
